@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #000;
}

.container-section {
  max-width: 1100px;
  margin: 0 auto 96px;
  padding: 0 1rem;
}

.btn-header {
  display: inline-block;
  background-color:#2075F0;
  color: #fff;
  padding: 4px 7px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #0058b7;
  color: #fff;
}


/* Card */
.card-hover {
  will-change: transform;
  transition: all 400ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
  transform: perspective(1000px) rotateX(45deg) rotateY(0deg) scale3d(1, 1, 1);
}


.btn-back {
  display: inline-block;
  background-color: #f4f4f4;
  color: #333;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 1.3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  
  padding: 8px 96px;
  border-bottom: 1px solid rgb(208, 215, 224)
}

.logo {
  text-align: center;
  margin-bottom: 0.5rem;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.links a {
  margin: 0 0.5rem 0 0.5rem;
  color: #596379;
  text-decoration: none;
}



